:root {
  /* --text: #030c07; */
  --text: #030c07;
  --background: #dbf6e6;
  --primary-button: #248a83;
  --secondary-button: #cee3f2;
  --accent: #245e8a;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: fantasy; */
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  font-family: "Lato";
  background-color: var(--background);
  color: var(--text);
  accent-color: var(--accent);
}

#root {
  width: 90%;
  margin: 0 auto;
}
